<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
    <div class="heading">
      <h1 class="title">books</h1>
    </div>
    <div class="navbar">
      <ul class="nav-lists">
          <li>ログイン</li>
          <li>新規登録</li>
      </ul>
    </div>
</header>