<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「本アプリ」帯部分 %>
  <div class="first-view">
        <%= link_to image_tag("reading-925589_1920.jpg", class:"top-image") %>
  </div>
  <%# /画面上部の「本アプリ」帯部分  %>

  <%# カテゴリー一覧 %>
  <div class="upper-content">
    <h2 class="heading-name">カテゴリー</h2>
          <ul class="messages">
            <li class="message">
              小説・文学
            </li>
            <li class="message">
               言語
            </li>
            <li class="message">
              雑誌
            </li>
            <li class="message">
              自己啓発
            </li>
            <li class="message">
              ビジネス・経済
            </li>
            <li class="message">
              自然科学
            </li>
            <li class="message">
              テクノロジー
            </li>
            <li class="message">
              歴史・地理
            </li>
            <li class="message">
              専門書
            </li>
          </ul>
  </div>
  <div class="middle-content">
    <h2 class="heading-name">投稿</h2>
  </div>
  <%# /カテゴリー一覧 %>

<%= render "shared/footer" %>