.first-view {
  height: 50vh;
}

.top-image {
  height: 100%;
  width: 100%;
}

.upper-content {
  height: 450px ;
  margin: 0 160px;
}

.heading-name {
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 40px auto;
}

.messages {
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  padding: 0;
}

.message {
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
